<connectionStrings>
  <add name="ENode" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ENode;User ID=sa;Password=123456;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />
  <add name="ENodeQuickStart" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Forum;User ID=sa;Password=123456;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" providerName="System.Data.SqlClient" />
</connectionStrings>